<section id="menu" class="home-section bg-white">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#">beMYguest</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "Update Your Profile", users_agent_profile_update_path %></li>
                          </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Packages <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "Create Package", users_agent_package_create_path %></li>
                            <li><%= link_to "Update Package", users_agent_package_update_path %></li>
                          </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "Create Service", users_agent_service_create_path %></li>
                            <li><%= link_to "Update Service", users_agent_service_update_path %></li>
                          </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</section>

<section id="create_service" class="home-section bg-white">
<h1>Create Service</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      
        <label>Country :</label>
        <select name="slc_country" class="form-control">
        <option value="malaysia">Malaysia</option>
        <option value="japan">Japan</option>
        <option value="korea">Korea</option>
        <option value="china">China</option>
        </select>
        <br />

        <label>State :</label>
        <select name="slc_state" class="form-control">
        <option value="malaysia">Malaysia</option>
        <option value="japan">Japan</option>
        <option value="korea">Korea</option>
        <option value="china">China</option>
        </select>
        <br />

        <label>Place Of Interest :</label>
        <input type="text" name="txt_place_of_interest" class="form-control">
        <br />

        <label>Date Time Start :</label>
        <input type="date" name="txt_date_time_start" class="form-control">
        <br />

        <label>Date Time End :</label>
        <input type="date" name="txt_date_time_end" class="form-control">
        <br />

        <label>Duration :</label>
        <select name="slc_duration" class="form-control">
        <option value="1">5 Hour</option>
        <option value="2">10 Hour</option>
        <option value="3">1 Day</option>
        <option value="4">2 Day</option>
        </select>
        <br />

        <label>Price Range :</label>
        <select name="slc_price_range" class="form-control">
        <option value="1"> below 99</option>
        <option value="2"> 99 - 199</option>
        <option value="3"> 199 - 299 </option>
        </select>
        <br />

        <label>Description :</label>
        <textarea class="form-control" rows="5" name="txt_description"></textarea>
        <br />

        <label>Food Type :</label>
        <select name="slc_food_type" class="form-control">
        <option value="1">Halal</option>
        <option value="2">Vegetarian</option>
        </select>
        <br />

        <label>Transport :</label>
        <select name="slc_transport" class="form-control">
        <option value="1">Halal</option>
        <option value="2">Vegetarian</option>
        </select>
        <br />

        <label>Accomodation :</label>
        <select name="slc_accomodation" class="form-control">
        <option value="1">None</option>
        <option value="2">Hotel</option>
        <option value="3">Homestay</option>
        </select>
        <br />

        <button type="submit" class="btn btn-default">Submit</button>

    </div>
  </div>
</div>



</section>

