
<h1>Profile Page Agent</h1>


<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h2><%= link_to "Update Your Profile", users_agent_profile_update_path %></h2><BR>
		<h2><%= link_to "Create Package", users_agent_package_create_path %></h2><BR>
		<h2><%= link_to "Update Package", users_agent_package_update_path %></h2><BR>
		<h2><%= link_to "Create Service", users_agent_service_create_path %></h2><BR>
		<h2><%= link_to "Update Service", users_agent_service_update_path %></h2><BR>
		</div>
	</div>
</div>

